{% extends "account/login.html" %}
{% load static%}

{% block title %}{{ title }}{% endblock %}
{% block body_bg %}
body {
background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) ), url("{% static 'account/images/blog/login.jpg' %}");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: top;
}
{% endblock %}
{% block header %}
<ul class="navigation-menu ml-auto">
    <li>
        <a class="navigate-link" href="{% url 'posts:posts' %}">MySecret</a>
    </li>
</ul>
{% endblock %}
{% block body %}
<div class="post-form">
    <div class="contact-form col-lg-6 mt-4 mt-lg-0">
        <div class="col-lg-12 text-center">
            <h1 class="quote text-center">{{ title }}</h1>
        </div>
        {% if form.non_field_errors %}
        <span class="text-center">{{ form.non_field_errors }}</span>
        {% endif %}
        <form id="contact-form" method="post">
            {% csrf_token %}
            {% for field in form %}
            {% if field.errors %}
            <span class="text-center">{{ field.errors }}</span>
            {% endif %}
            <div class="form-group">
                {{ field }}
            </div>
            {% endfor %}
            <div id="cf-submit">
                <input type="submit" class="btn btn-transparent" value="Подтвердить">
            </div>
        </form>
    </div>
</div>
{% endblock %}