{% extends "account/login.html" %}
{% load static%}

{% block title %}{{ title }}{% endblock %}
{% block body_bg %}
body {
background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) ), url("{% static 'account/images/blog/personal.jpg' %}");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: top;
}
{% endblock %}
{% block header %}
<ul class="navigation-menu ml-auto">
    {% if request.user.is_authenticated %}
    {% for element in menu_auth %}
    <li>
        <a class="navigate-link" href="{% url element.url_name %}">{{ element.title }}</a>
    </li>
    {% endfor %}
    {% else %}
    {% for element in menu_not_auth %}
    <li>
        <a class="navigate-link" href="{% url element.url_name %}">{{ element.title }}</a>
    </li>
    {% endfor %}
    {% endif %}
</ul>
{% endblock %}
{% block body %}
<div class="personal-info-update wow fadeInDown">
    <form enctype='multipart/form-data' method="POST">
        {% csrf_token %}
        {% for field in form %}
        {% if field == form.avatar %}
        <div class="avatar-block">
            <span class="label-update-form">{{ field.label }}</span>
            <div class="imgUp">
                <div class="imagePreview"></div>
                <label class="btn-primary">
                    {{ field }}
                </label>
            </div>
        </div>
        {% else %}
        <div class="field-update-user">
            <span class="label-update-form">{{ field.label }}</span>
            {{ field }}
        </div>
        {% endif %}
        {% endfor %}
        <div id="cf-submit">
            <input type="submit" class="btn btn-transparent" value="Сохранить">
        </div>
    </form>
</div>
{% endblock %}