{% extends "account/login.html" %}
{% load static%}

{% block title %}{{ title }}{% endblock %}
{% block body_bg %}
body {
	background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) ), url("{% static 'account/images/blog/personal.jpg' %}");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
}
{% endblock %}
{% block header %}
<ul class="navigation-menu ml-auto">
		{% if request.user.is_authenticated %}
		{% for element in menu_auth %}
			<li>
			<a class="navigate-link" href="{% url element.url_name %}">{{ element.title }}</a>
			</li>
		{% endfor %}
		{% else %}
		  {% for element in menu_not_auth %}
			<li>
			<a class="navigate-link" href="{% url element.url_name %}">{{ element.title }}</a>
			</li>
		  {% endfor %}
		{% endif %}
		</ul>
{% endblock %}
{% block body %}
<div class="personal-block  wow fadeInDown">
		<div class="personal-photo">
			<div class="avatar">
				<img src="{{ user.avatar.url }}" class="img-avatar" alt="Avatar">
			</div>
		</div>
		<div class="personal-info">
			<div class="user-nickname">
				<h3 class="nickname text-center">{{ user.nickname }}</h3>
				<a href="{% url 'account:user_update' %}"><img src="{% static 'account/images/blog/edit.png' %}" width="35" height="35"></a>
			</div>
				{% if user.first_name %}<p>Имя: {{ user.first_name }}</p>{% endif %}
				{% if user.last_name %}<p>Фамилия: {{ user.last_name }}</p>{% endif %}
				{% if user.birthday %}<p>Дата рождения: {{ user.birthday }}</p>{% endif %}
				{% if user.email %}<p>Email: {{ user.email }}</p>{% endif %}
		</div>
		<ol>
			{% for post in posts %}
			<li class="list-item-page">
				<span class="text-center"><a href="{% url 'posts:post-detail' post.pk %}">{{ post.title }}</a><span class="date-page">{{ post.timestamp }}</span></span>
			</li>
			{% endfor %}
		</ol>
	</div>
	  {% if is_paginated %}
      <div class="col-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item"><a class="page-link" href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {% endif %}">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            <li class="page-item"><a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% endif %}">&raquo;</a></li>
          </ul>
        </nav>
      </div>
      {% endif %}
{% endblock %}
