{% extends "blog_post/basic_posts.html" %}
{% load static%}
{% load paragraph_filter %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
{% if request.user.is_authenticated %}
<div class="buttons">
    <button class="post-buttons"><a class="focus-blue" href="{% url 'posts:update_post' post.pk %}">Редактировать</a></button>
    <button class="post-buttons"><a class="focus-white" href="{% url 'posts:delete_post' post.pk %}">Удалить</a></button>
</div>
<ul class="navigation-menu ml-auto">
    {% for element in menu_auth %}
    <li>
        <a class="navigate-link" href="{% url element.url_name %}">{{ element.title }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<ul class="navigation-menu ml-auto">
    {% for element in menu_not_auth %}
    <li>
        <a class="navigate-link" href="{% url element.url_name %}">{{ element.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
{% if post.page_picture %}
<style>
body {
	background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) ), url("{{ post.page_picture.url }}");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
}
</style>
{% endif %}
<section class="section">
    <div class="s-container">
        <div class="post-detail">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="title text-center wow fadeInDown">
                    <h2>{{ header_first }}<span class="color"> {{ header_second }}</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
            <div class="col-lg-12">
                <ul class="list-inline mb-50">
                    <li class="list-inline-item">Thomas Jonson</li>
                    <li class="list-inline-item">{{ post.timestamp }}</li>
                </ul>
            </div>
            {% with post.text|split as paragraphs %}
            {% for p in paragraphs %}
            <div class="col-lg-12 post-text">
                <p>{{ p }}</p>
            </div>
            {% endfor %}
            {% endwith %}
        </div>
    </div>
</section>
{% endblock %}
