{% extends "blog_post/basic_posts.html" %}
{% load static%}

{% block title %}{{ title }}{% endblock %}

{% block header %}
	<ul class="navbar-nav navigation-menu ml-auto">
    {% if request.user.is_authenticated %}
	{% for element in menu_auth %}
		<li class="nav-item">
		<a class="nav-link" href="{% url element.url_name %}">{{ element.title }}</a>
		</li>
	{% endfor %}
    {% else %}
      {% for element in menu_not_auth %}
		<li class="nav-item">
		<a class="nav-link" href="{% url element.url_name %}">{{ element.title }}</a>
		</li>
	  {% endfor %}
    {% endif %}
	</ul>
{% endblock %}

{% block content %}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- section title -->
        <div class="title text-center wow fadeInDown">
          <h2>{{ header_first }}<span class="color"> {{ header_second }}</span></h2>
          <div class="border"></div>
        </div>
        <!-- /section title -->
      </div>
      <!-- single blog post -->
      {% for post in posts %}
      <article class="col-lg-4 mb-30 clearfix wow fadeInUp" data-wow-duration="500ms">
        <div class="post-block">
          <div class="media-wrapper">
            <img src="{% static 'blog_post/images/blog/blog-post-1.jpg' %}" alt="amazing caves coverimage" class="w-100">
          </div>
          <div class="content">
            <h3><a href="{% url 'posts:post-detail' post.pk %}">{{ post.title|truncatechars:50 }}</a></h3>
            <p>{{ post.text|truncatechars:155 }}</p>
            <a class="btn btn-transparent" href="{% url 'posts:post-detail' post.pk %}">Читать дальше</a>
          </div>
        </div>
      </article>
      {% endfor %}
      <!-- /single blog post -->
      {% if is_paginated %}
      <div class="col-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item"><a class="page-link" href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {% endif %}">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            <li class="page-item"><a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% endif %}">&raquo;</a></li>
          </ul>
        </nav>
      </div>
      {% endif %}
    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end section -->
{% endblock %}
<!-- end Contact Area
========================================== -->
